/* GLOBAL PROPS */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f3f3f3 fixed url(/registree/images/background.jpg);
  margin: 5px;
  padding: 0px;
}

/* NAVBAR/HEADING  */
#heading {
  width: 100%;
  position: fixed;
  padding: 10px;
  font-size: 40px;
  color: #292b2c;
}

#heading h1 i {
  color: black;
  position: fixed;
}

#heading h1 {
  font-size: 70px;
  font-weight: bolder;
}

#title {
  font-weight: 50;
  color: #555;
}

#heading .btn {
  float: right;
  margin-top: 5px;
}

/* LAYOUT SPACER */
.spacer {
  height: 30vh;
}

/* FIELDS OF STUDIES - BUTTONS */
button.btn.btnStudyFields {
  background-color: #292b2c;
  margin: 3px;
  border-right: 4px solid;
  border-bottom: 3px solid;
  color: #ffffff;
}

/* BUTTON PSUEDO'S */
button.btn.btnStudyFields:focus {
  background-color: teal;
  border: none;
}

button.btn.btnStudyFields:hover {
  transform: scale(0.95);
  border-right: #555 4px solid;
  border-bottom: #555 3px solid;
}

button.btn.btnStudyCourseLeft {
  background-color: teal;
  margin: 3px;
  width: 100%;
  text-align: left;
}

button.btn.btnStudyCourseMiddle {
  background-color: #d9534f;
  margin: 3px;
  width: 100%;
  text-align: left;
}

button.btn.btnStudyCourseRight {
  background-color: #f7f7f7;
  margin: 3px;
  width: 100%;
  text-align: left;
}

/* BUTTON PSUEDO'S */
button.btn.btnStudyCourse:hover {
  background-color: transparent;
  margin: 3px;
  width: 100%;
  color: #ffffff;
}

/* COLLAPSE FEATURE */
.collapseFieldContainer {
  display: flex;
  margin: 0 auto 20px;
}

.collapseFieldLeft button,
.collapseFieldMiddle button,
.collapseFieldRight button {
  border: 1px solid white;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: small;
  line-height: 20px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 20px;
  border: 3px solid white;
}

.collapseFieldLeft button {
  background-color: teal;
  color: #ffffff;
}

.collapseFieldMiddle button {
  background-color: #d9534f;
}

.collapseFieldRight button {
  background-color: #f7f7f7;
}

/* ARRAY DATA DISPLAY CONTAINER */
.fieldDisplay {
  width: 100%;
  display: flex;
}

/* INDIVIDUAL ARRAY DATA DISPLAY CONTAINER */
div#output,
div#output2,
div#output3 {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

div#output {
  background-color: #292b2c;
  border-top: 10px solid teal;
}

div#output2 {
  background-color: #292b2c;
  border-top: 10px solid #d9534f;
}

div#output3 {
  background-color: #292b2c;
  border-top: 10px solid #f7f7f7;
}

div#output {
  margin-right: auto;
}

div#output2 {
  margin-left: auto;
}

div#output3 {
  margin-left: auto;
}

div#output1 {
  background-color: #292b2c;
  display: inline-block;
  margin: 20px auto;
  text-align: left;
}

div#output5 {
  display: none;
}
